* {
    margin: 0;
    padding: 0;
  }
  
.sidebar {
    min-height: 100vh;
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 9999;
        top: 0;
        left: -100%;
        transition: all 0.3s;
    }
    .sidebar.active {
        left: 0;
    }
}